<div class="container">
    <h1> {{user.name}} </h1>
    <img src="{{user.avatar_url}}" alt="">
    <p> Bio: {{user.bio}} </p>
    <p> Github URL: <a href="{{user.html_url}}">See on Github</a></p>
</div>






<!--avatar_url: "https://avatars.githubusercontent.com/u/100151436?v=4"
​
bio: "An avid gamer & Marvel fanatic :)"
​
blog: ""
​
company: "Student at Moringa School"
​
created_at: "2022-02-21T16:21:15Z"
​
email: null
​
events_url: "https://api.github.com/users/nealwaga/events{/privacy}"
​
followers: 0
​
followers_url: "https://api.github.com/users/nealwaga/followers"
​
following: 1
​
following_url: "https://api.github.com/users/nealwaga/following{/other_user}"
​
gists_url: "https://api.github.com/users/nealwaga/gists{/gist_id}"
​
gravatar_id: ""
​
hireable: null
​
html_url: "https://github.com/nealwaga"
​
id: 100151436
​
location: "Nairobi, Kenya"
​
login: "nealwaga"
​
name: "Neal Waga"
​
node_id: "U_kgDOBfgwjA"
​
organizations_url: "https://api.github.com/users/nealwaga/orgs"
​
public_gists: 0
​
public_repos: 13
​
received_events_url: "https://api.github.com/users/nealwaga/received_events"
​
repos_url: "https://api.github.com/users/nealwaga/repos"
​
site_admin: false
​
starred_url: "https://api.github.com/users/nealwaga/starred{/owner}{/repo}"
​
subscriptions_url: "https://api.github.com/users/nealwaga/subscriptions"
​
twitter_username: "nealwaga"
​
type: "User"
​
updated_at: "2022-04-14T05:41:21Z"
​
url: "https://api.github.com/users/nealwaga" -->